body{
    width: 100%;
    height: 100%;
    background-color: red;
    padding: 50px;
    
}

main{
    width: 100vw;
    height: 100vh;
    background-color: rgb(81, 233, 217);
    background-image: url(./img/bill.jpg);
    margin: 0px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
}
.date{
    font-weight: bold;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
header{
    color: white;
    font-size: x-large;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
span{
    padding: 20px;
}
h1{
    color: red;
    font-size: 250px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.content{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    display: inline-block;
}
h2{
    color: yellow;;
    font-size: 100px; 
    margin: 0;
    padding: 0;
    border: 0;
    
}
h3{
    color: white;
    font-size: 150px;
    margin: 0;
    padding: 0;
    border: 0;
}
.cont-text{
    color: white;;
}
